<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The BasketBlog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--<link rel="stylesheet" href="/stylesheets/style.css"-->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

  <div class="wrapper">
    <header>
        <a href="/"><h1 class="heading mt-3 mb-3 is-size-4 has-text-centered">The BasketBlog</h1></a>
        <nav class="navbar">
            {{#if loggedIn}}
            <a href="/" class="home-title navbar-item is-primary">Home</a>
            <a href="/dashboard" class="home-title navbar-item is-primary">Dashboard</a>
            <!--places logout on the same line at the end -->
              <div class="navbar-end">
                <div class="navbar-item">
              <div class="btns has-text-right"></div>
                <button id="logout" class="button logout-btn">Logout</button>
                  </div>
              </div>
            </div>
            {{else}}
            <div class="navbar-item">
              <a href="/" class="home-title">Home</a>
            </div>
            <div class="navbar-end">
            <div class="navbar-item">
              <div class="btns has-text-right">
              <a href="/login" class="button login-btn">Login</a>
              </div>
            </div>
            </div>
            {{/if}}
        </nav>
    </header>
    

    <main class="has-text-centered">
            {{{ body }}}
    </main>

    <footer class="footer">
      <div class=" content has-text-centered">
      <h4> Made by:</h4>
      <div class="columns">
        <div class="column" ><a href="https://github.com/davitshirkhanyan" target="_blank"><i class="fab fa-github"></i> Davit Shirkhanyan </a></div>
        <div class="column" ><a href="https://github.com/alexandergiannini" target="_blank"><i class="fab fa-github"></i> Alexander Giannini</a></div>
        <div class="column" ><a href="https://github.com/mmcginley81" target="_blank"><i class="fab fa-github"></i> Matt McGinley</a></div>
        <div class="column" ><a href="https://github.com/taeyjeong" target="_blank"><i class="fab fa-github"></i> Tae Jeong</a></div>
      </div>
      <!-- insert Github links -->
      

    </footer>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>