<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The BasketBlog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--<link rel="stylesheet" href="/stylesheets/style.css"-->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

  <div class="wrapper">
    <header>
        <a href="/"><h1 class="heading mt-3 mb-3 is-size-5 has-text-centered">The BasketBlog</h1></a>
        <nav>
            {{#if loggedIn}}
            <a href="/" class="home-title">Home</a>
            <a href="/dashboard" class="home-title">Dashboard</a>
            <div class="btns has-text-right"></div>
            <button id="logout" class="button logout-btn is-primary">Logout</button>
            </div>
            {{else}}
            <a href="/" class="home-title">Home</a>
            <div class="btns has-text-right">
            <a href="/login" class="button login-btn is-primary">Login</a>
            </div>
            {{/if}}
        </nav>
    </header>
    

    <main class="has-text-centered"> <!-- **<main>** basically with no class ---> 
            {{{ body }}}
    </main>

    <footer class="footer rows pb-2">
      <div class="row-is-full content has-text-centered">
      <h4> </h4>
      
  </div>
    </footer>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>