
<section>
  <div>
    <h2 class="title is-center" id="create-post-header">Create a new post</h2>
    <a href="/dashboard" class="is-pulled-left button is-link is-focused back-to-dashboard" id="back-to-dashboard"> &larr; back to dashboard</a>
  
  </div>
    

  <form class="new-post-form">
    <div>
      <label for="post-title"></label>
      <input class="post-input" type="text" id="post-title" name="post-title" placeholder="Insert title here"/>
    </div>
    <div>
      <label for="post-content"></label>
      <input class="post-textarea is-large" id="post-content" name="post-content" placeholder="Insert content here"/>
    </div>
    <button type="submit" class="button login-btn is-pulled-center is-primary" id="create-post-btn">Create Post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>