<div class="column has-text-centered">
<h2 class="title pb-4">Join the BasketBlog Culture Create a New Account</h2>
<form class="signup-form">
  <div>
    <label for="username-signup"></label>
    <input type="text" id="username-signup" placeholder="Enter your Username" size="45" />
  </div>
  <div>
    <label for="password-signup"></label>
    <input type="password" id="password-signup" placeholder="Enter your password" size="45" />
  </div>
  <div>
    <button type="submit" class="button signup-btn is-primary mt-3">Signup</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>