<!-- displaying articles -->
{{> post-info post}}

<!-- scripts for donate button -->
<div class="card-footer">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
        <section id="the-donate-btn-section">
            <div class="product">
            </div>
            <div class="buttons">
            <button class="button donate-btn is-success" id="checkout-button">High $5 this Post</button>
            </div><!-- closes button class -->
        </section>
        </body>
        <script src="/javascript/payment.js">
        // Create an instance of the Stripe object with your publishable API key
        </script>
</div><!--closes card footer -->
  
  

<!-- displaying form and comments-->
{{#if loggedIn}}

<form class="comment-form">
  <div class="comment-input-area">
    <textarea class="ml-5 mt-5" name="comment-body"></textarea>
  </div>
  <div>
    <button class="button ml-5 mb-5 btn-comment is-primary" type="submit">Add Comment</button>
  </div>

  
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}