<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <p>
      We appreciate your donation! Donors like you make it possible for great content to keep going on Sports Blog Friends. If you have any questions, please email
      <a href="mailto:help@sportsblogfriends.com">help@sportsblogfriends.com</a>.
    </p>
  </section>
</body>
</html>