body {
  background-image: url("https://image.freepik.com/free-vector/basketball-ball_22415-1451.jpg")
}

a, .btns {
  margin: 15px;
}

h1 {
  text-shadow: 2px 2px 2px #1C6EA4;
}

.meta {
  color: green;
}

.text {
  color: blue;
}