* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-image: url("https://images.unsplash.com/photo-1586487943739-b6f6fbb142b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2125&q=80");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

a, .btns {
  margin: 15px;
}

h1 {
  text-shadow: 2px 2px 2px #1C6EA4;
}

.meta {
  color: primary;
}

.card {
  margin-left: 4rem;
  margin-right: 4rem;
}

nav {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  border-radius: 10px;
}

.card-success{
  width: 750px;
  margin: auto;
}

.card-header {
  background-color: rgb(226, 191, 171);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgb(241, 223, 223);
}

.card-header a {
  color: rgb(66, 33, 33);
}

.card {
    border-radius: 10px;
}

.card-content {
  background-color: rgb(134, 202, 236);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dash-post {
  font-size: 25px;
  color: rgb(66, 33, 33)
}

.success-items{
  align-items: center;
  justify-self: center;
}

.edit-post-form{
  margin-left: 4rem;
  margin-right: 4rem;
}

#edit-label{
  background-color: rgba(255,255,255,.5);
  width: fit-content;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px
}

.delete-post-btn{
  border-radius: 10px;
}

.new-post-form{
  margin-left: 4rem;
  margin-right: 4rem;
}


#back-to-dashboard{
  margin-right: 4rem;
}

.label{
  font-weight: bold;
  background-color: white;
}

.comment{
  margin-left: 4rem;
  margin-right: 4rem;
}

.is-half.is-centered{
  margin-left: 20rem;
}

.post-title{
  font-size: 1.5rem;
}

.login-btn {
  border-radius: 10px;
  border: none;
  
}

.logout-btn {
  background-color: #ff0000;
    border-radius: 10px;
    color: white;
    border: none;
}

.logout-btn:hover {
  background-color: #f5603b;
  color: white;
}

.create-btn,
.donate-btn {
  border-radius: 10px;
}

.home-title {
  background-color: rgb(122, 78, 78);
  color: lightblue;
  border-radius: 10px;
  padding: 5px;
}

.home-title:hover {
  background-color: rgb(92, 55, 55);
  color: lightblue;
}

textarea{
  min-width: 40%;
  min-height: 200px;
  padding: 10px;
}

input{
  border-radius: 10px;
  padding: 5px;
}

.navbar {
  background-color: rgb(192, 224, 240);
  opacity: 65%;
}

.navbar-item {
  margin-top: -30px;
  margin-bottom: -30px;
}

footer {
  margin: 350px 1rem;
  background-color: rgb(192, 224, 240);
  opacity: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

footer a {
  color:  rgb(68, 114, 137);
}

footer a:hover {
  color: rgb(68, 114, 137);
  background-color: rgb(226, 191, 171);
  border-radius: 10px;
  padding: 5px;
}



